<%= render "layouts/title"%>
<div class="container-fluid" style="padding-top:1%">
  <div class="row-fluid">
    <div class="span2" style="padding-top:2%">
      <!--Sidebar content-->
      <%= render "layouts/left"%>
    </div>
    <div class="span6">
      <h4>发表最新活动</h4>
      <div>
        <%= form_for [:admin, @meet], :html => { :multipart => true } do |m| %>
          <%= m.kindeditor :content %>
          <p>图片大小880 × 375</p>
          <%= m.file_field :avatar %>  
          <p></p>
          <%= m.submit "保存", class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
