<%= render "layouts/title"%>
<div class="container-fluid" style="padding-top:1%">
  <div class="row-fluid">
    <div class="span2" style="padding-top:2%">
      <!--Sidebar content-->
      <%= render "layouts/left"%>
    </div>
    <div class="span6">
      <div style="padding-top:4%">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>学校排名</th>
              <th>学校类型</th>
              <th>地理位置</th>
              <th>宗教背景</th>
              <th>学校规模</th>
              <th>TOEFL成绩</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @hschool.each do |h| %>
              <tr>
                <td><%= h.ranking %></td>
                <td><%= h.lei %></td>
                <td><%= h.place %></td>
                <td><%= h.religion %></td>
                <td><%= h.scale %></td>
                <td><%= h.result %></td>
                <td>
                  <%= link_to "删除", admin_hschool_path(h), :method => :delete %>
                  <%= link_to '更新', :controller => 'admin/hschools', :action => 'edit', :id => h %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="text-center">
          
        </div>
      </div>
      <!--end-->
    </div>
  </div>
</div>




