    <div style=" border-style:solid; border-width: 1px; border-color:#CCCCCC; border-radius: 15px;">
      <ul class="nav nav-list" >
        <li class="nav-header" style="font-size:20px">活动信息管理</li>
        <li><%= link_to "发表活动信息", new_admin_meet_path, style: "font-size: 15px" %></li>
        <li><%= link_to "查看活动信息", admin_meets_path, style: "font-size: 15px" %></li>
        <li class="nav-header" style="font-size:20px">活动信息详情管理</li>
        <li><%= link_to "发表活动信息", new_admin_dong_path, style: "font-size: 15px" %></li>
        <li><%= link_to "查看活动信息", admin_dongs_path, style: "font-size: 15px" %></li>

        <li class="nav-header" style="font-size:20px">学校信息管理</li>
        <li><%= link_to "添加学校信息", new_admin_hschool_path, style: "font-size: 15px" %></li>
        <li><%= link_to "查看学校信息", admin_hschools_path, style: "font-size: 15px" %></li>
        <li class="nav-header" style="font-size:20px">奖学金信息管理</li>
        <li><%= link_to "添加奖学金信息", new_admin_fellowship_path, style: "font-size: 15px" %></li>
        <li><%= link_to "查看奖学金信息", admin_fellowships_path, style: "font-size: 15px" %></li>
        <li class="nav-header" style="font-size:20px">家长联盟信息管理</li>
        <li><%= link_to "查看家长联盟信息", admin_mengs_path, style: "font-size: 15px" %></li>
        <li class="nav-header" style="font-size:20px">关于我们信息管理</li>
        <li><%= link_to "添加关于我们信息", new_admin_about_path, style: "font-size: 15px" %></li>
        <li><%= link_to "查看关于我们信息", admin_abouts_path, style: "font-size: 15px" %></li>
        <li class="nav-header" style="font-size:20px">加入我们信息管理</li>
        <li><%= link_to "添加加入我们信息", new_admin_join_path, style: "font-size: 15px" %></li>
        <li><%= link_to "查看加入我们信息", admin_joins_path, style: "font-size: 15px" %></li>
        <li class="nav-header" style="font-size:20px">联系我们信息管理</li>
        <li><%= link_to "添加联系我们信息", new_admin_contact_path, style: "font-size: 15px" %></li>
        <li><%= link_to "查看联系我们信息", admin_contacts_path, style: "font-size: 15px" %></li>
        <li class="nav-header" style="font-size:20px">申请学生信息管理</li>
        <li><%= link_to "查看报名学生", admin_shenqings_path, style: "font-size: 15px" %></li>

        <li class="nav-header" style="font-size:20px">友情链接管理</li>
        <li><%= link_to "添加友情链接信息", new_admin_lian_path, style: "font-size: 15px" %></li>
        <li><%= link_to "查看友情链接信息", admin_lians_path, style: "font-size: 15px" %></li>
        <li class="nav-header" style="font-size:20px">申请学生信息管理</li>
        <li><%= link_to "查看报名学生", admin_shenqings_path, style: "font-size: 15px" %></li>
      </ul>
    </div>
